<%= form_for(@micromessage) do |f| %>
  <% if @micromessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micromessage.errors.count, "error") %> prohibited this micromessage from being saved:</h2>

      <ul>
      <% @micromessage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contenu %><br />
    <%= f.text_field :contenu %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
