<h1>Listing micromessages</h1>

<table>
  <tr>
    <th>Contenu</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micromessages.each do |micromessage| %>
  <tr>
    <td><%= micromessage.contenu %></td>
    <td><%= micromessage.user_id %></td>
    <td><%= link_to 'Show', micromessage %></td>
    <td><%= link_to 'Edit', edit_micromessage_path(micromessage) %></td>
    <td><%= link_to 'Destroy', micromessage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micromessage', new_micromessage_path %>
