<h1>Liste des micromessages</h1>

<table>
  <tr>
    <th>Contenu</th>
    <th>Usager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micromessages.each do |micromessage| %>
  <tr>
    <td><%= micromessage.contenu %></td>
    <td><%= micromessage.user_id %></td>
    <td><%= link_to 'Montrer', micromessage %></td>
    <td><%= link_to 'Editer', edit_micromessage_path(micromessage) %></td>
    <td><%= link_to 'Detruire', micromessage, :confirm => 'Etes-vous certain ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau Micromessage', new_micromessage_path %>

