<p id="notice"><%= notice %></p>

<p>
  <b>Contenu:</b>
  <%= @micromessage.contenu %>
</p>

<p>
  <b>Usager:</b>
  <%= @micromessage.user_id %>
</p>


<%= link_to 'Editer', edit_micromessage_path(@micromessage) %> |
<%= link_to 'Retour', micromessages_path %>
