<h1>Listing microposts</h1>

<table>
  <tr>
    <th>Contenu</th>
    <th>Usager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.user_id %></td>
    <td><%= link_to 'Montrer', micropost %></td>
    <td><%= link_to 'Editer', edit_micropost_path(micropost) %></td>
    <td><%= link_to 'Detruire', micropost, :confirm => 'Etes-vous certain ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micropost', new_micropost_path %>
